

.header_logo, .header_logo .auth, li.potato-menu-item{
    background: none;
    border: none;
}

.search{
    width: 42%;
    text-align: left;
    color: #000000;
}

.green_line{
    padding: 0px;
    margin: 0px;
    height: 42px;
    background: #6c8101
}

.splitter{
    padding: 0px;
    margin: 0px;
    height: 1px;
}


.top_menu{
    padding: 0px;
}

ul.potato-menu{
    padding: 0 8px;
}

ul.potato-menu > li.potato-menu-item{
    display: block!important;
    position: relative!important;
    padding-top: 0px;

}

ul.potato-menu li.potato-menu-item a{
    font-family: Century Gothic, Arial;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
    text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
    white-space:normal!important;
}

li.potato-menu-item{
    width: auto;
    padding: 0px 20px;
    height: auto;
}

li.potato-menu-item > a{
    padding:  17px 11px 18px 11px!important;
}

li.potato-menu-item a{
    padding: 10px 12px;
}

#menu_top > li.potato-menu-hover > a{
    background: #5e7603!important;
    color: #fff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
}

ul.potato-menu li.potato-menu-item ul.potato-menu-group li.potato-menu-item{
    width: auto;
}

ul.potato-menu li.potato-menu-item ul.potato-menu-group li.potato-menu-item a{
    text-transform: capitalize;
    display: inline-block;
}

ul.potato-menu-vertical{
    width: 960px;
    position: absolute;
    left: 0!important;
    width: 139px;
    margin-left: 0!important;
    padding: 10px 0!important;
    background: #fff;
/*
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3); 
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3); 
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
*/
    border-radius: 0px 0 5px 5px;
    -webkit-border-radius: 0px 0 5px 5px;
    -moz-border-radius: 0px 0 5px 5px;
    -ms-border-radius: 0px 0 5px 5px;
}

ul.potato-menu-vertical li{
    width: auto;
}

ul.potato-menu-vertical li.potato-menu-item a{
    font-size: 12px;
    color: #fff;
    text-shadow: none;
    font-weight: normal;
    padding: 2px 20px!important;
    background: url(../../images/arrow.png) 10px 7px no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}


ul.potato-menu-vertical li.potato-menu-item a:hover {
color: #fff;
text-decoration: underline;
}



ul.potato-menu-vertical li ul.potato-menu-vertical{
    background: #5d7503;
    margin-left: 0!important;
    padding: 10px 0!important;
    height: auto;
    border: none;
    -moz-border-radius: 4px  
    -webkit-border-radius: 4px;  
    border-radius: 4px;  
/*    background: #333;  
    background: -moz-linear-gradient(top, #000, #555);  
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#555));
*/
}

ul.potato-menu-vertical li ul.potato-menu-vertical li.potato-menu-item a{
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    padding: 2px 20px!important;
}

ul.potato-menu-vertical li ul.potato-menu-vertical li.potato-menu-item a:hover {
    color: #fff;
}

ul.potato-menu li.potato-menu-item ul li{
    display: block;
    float: none;
}

ul.potato-menu li.potato-menu-item ul{
    min-width: 175px;
    background: #5d7503;
}

ul.potato-menu li.potato-menu-item ul ul{
    left: 170px!important;
    top: -10px!important;
}

ul.potato-menu li.potato-menu-item ul.potato-menu-group li.potato-menu-item.potato-menu-has-holizontal{
    background: url(../../images/menu_arrow.png) right center no-repeat;

}

li.potato-menu-item{
    font-size: 12px;
}
