.import_from{ display: none;  }
#tbl_parsing_opt label{width: 160px;}
#tbl_parsing_opt td{border-bottom: 1px solid #E6E8EA; text-align: left;}
#fi_profile .header_bordered input{text-align: center;}
#fi_profile .header_bordered th{ background: #cccccc; padding:5px; text-align:  center; width: 140px;}
#fi_profile .header_bordered td{ text-align: center;}
#fi_profile .header_bordered td input[type=text]{margin:1px 0}
#fi_advanced select{width: 100px;}
#fi_profile .disabled input, #fi_profile .disabled select, .adv_field_disabled{ opacity: 0.2;}
#fi_adv_num_columns{width: 50px!important;}
#pre_parsed_file{display: none;}
#pre_parsed_file .input_field_0{font-size: 10px;}
#pre_parsed_file .input_field_0 .line_separator{width: 100%; height: 1px; background: #E4E7EA;}
#row_test_file {width: auto; }
#test_parsed_file{width: 100%; overflow: auto;}
.fi_adv_mandatory{margin:0!important;}
form[name="process_profile"] table th{white-space: normal;}
.adv_field_name{width: 120px!important;}
