.ui-autocomplete{max-height: 400px; z-index:1500!important; overflow: auto;}
.search_match{color: #f13340; font-weight: bold;}
.search_waiting{background: url('../../images/loading.gif') no-repeat scroll 98% 50% !important;}
