

/*******************/
/** Common styles **/
/*******************/

/* main container for group of banners with the same code */
div.ab_container {
    padding: 5px;
}

div.ab_container.highlighted {
border: 1px orange solid;
}
div.ab_content.highlighted {
border: 1px red solid;
}
div.ab_container.highlighted .cms_informer {
	background-color:#FFFF7D;
	z-index: 1;
	font-size: 11px;

}
div.ab_content.highlighted .cms_informer {
    z-index: 1;
    font-size: 11px;
}

/* single banner content with type IMAGE */
div.ab_content_image {
    padding: 5px;
    position: relative;
}
div.ab_content_image img {
    border: none;
}

/* single banner content with type HTML */
div.ab_content_html {
}

/***********/
/** Skins **/
/***********/
/*
E.g.
 div.ab_container_skin_<skin> - container for several banners of the same code, e.g. for slider
 div.ab_content_skin_<skin> - container for each banner
*/

/* vertical */
div.ab_content_skin_vertical {
    text-align: center;
}

/* horizontal */
div.ab_content_skin_horizontal {
    float: left;
}

/* home slider */
div.ab_container_skin_home_slider{
    width: auto;
    height: auto;
    background: transparent;
}

div.ab_container_skin_home_slider .owl-wrapper-outer{
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    behavior: url(PIE.htc);
    position: relative;
    text-align: center;
}

.owl-theme .owl-controls {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

div.ab_container_skin_home_slider {
    padding: 0;
    text-align: center;
}

.ab_container_skin_home_slider img{
    border-radius: 4px; 
    height: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    behavior: url(PIE.htc);
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 100%;
}


/***********************************/
/** Styles for certain bannercode **/
/***********************************/
/*
E.g.
 div.ab_container_code_<bannercode>
 div.ab_content_code_<bannercode>
*/

/* test */
div.ab_content_code_test {
}

/************************/
/** Other extra styles **/
/************************/


.contentsection_text{
    float: left;
    width: 320px;
    padding-left: 27px;
    padding-top: 61px;
}

.contentsection_text div.small{
    color: #606064;
    font-size: 11px;
    text-transform: uppercase;
}

.contentsection_text div.big{
    color: #7b9900;
    font-size: 28px;
    font-weight: bold;
    font-family: Century Gothic, Arial;
    line-height: 31px;
}

.contentsection_text div.white{
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 16px;
    margin-top: 12px;
}

.white p{
    color: #fff;
}

.more_details a{
    color: #fff;
    font-size: 16px;
    font-family: Century Gothic, Arial;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    background: #7b9900;
    float: left;
    padding: 11px 18px;
    margin-top: 21px;
    margin-left: 3px;
    behavior: url(PIE.htc);
    position: relative;
}

.ab_container_skin_home_slider .ab_slideshow {
    width:auto;
    height:auto;

    /*IE bugfix*/
    padding:0;
    margin:0;
}

.rhino-bullets{
  width: 100%;
  right: 0;
  text-align: center;
}

.rhino-bullets li{
  float: none;
  display: inline-block;
  background: transparent;
  padding: 0;
  margin: 0;
}

.rhino-bullets li a.rhino-bullet{
  background: none repeat scroll 0 0 #fff;
  border: 3px solid #64a500;
  border-radius: 15px;
  display: block;
  height: 15px;
  margin: 0 5px;
  outline: 0 none;
  text-indent: -9999px;
  width: 15px;
}

.rhino-bullets li a.rhino-bullet.rhino-active-bullet, .rhino-bullets li a.rhino-bullet:hover{
  background: #64a500;
  color: #fff;
}

@media all and (max-width: 960px) {
    .ab_container_skin_home_slider, .ab_slideshow{
      width: 100%;
      height:220px;
    }

    .ab_container_skin_home_slider {
      width: 98%;
      height:220px;
    }
}

@media all and (max-width: 650px) {

    .ab_container_skin_home_slider, .ab_slideshow{
      height:150px;
    }
}

@media (max-width: 992px) {
  .rhino-container{
    width: 100%!important;
    max-width: 100%!important;
  }

}
